# Set paths to accession file and cachedir
ACC_FILE=tests/acclist.csv
APPTAINER_CACHEDIR=/work/pi_pchien_umass_edu/berent/apptainer_cache

# WROKDIR should be the path to where you downloaded chienlab_colab
WORKDIR=/work/pi_pchien_umass_edu/berent/chienlab_colab

# Fasta directory are where all the combined protein fasta files will be generated
# This can be an absolute path or a relative path to working directory
FASTA_DIR=fasta

# Leave these alone
AFOLD_CACHE=$WORKDIR/cache
WORK_BIN=$WORKDIR/bin
COLAB_VERSION=1.5.5
CUDA_VERSION=12.2.2
R_VERSION=4.3.2
COLABFOLD_CONTAINER=$WORK_BIN/colabfold_${COLAB_VERSION}-cuda${CUDA_VERSION}.sif
R_CONTAINER=$WORK_BIN/chienlab_colab_${R_VERSION}.sif
